<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiBaseUrl" value="http://localhost:5000" />
    <add key="GoogleMapsApiKey" value="MAPS_API_KEY" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" requestValidationMode="2.0" />
    <globalization culture="tr-TR" uiCulture="tr-TR" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <pages>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="480" defaultUrl="~/Default.aspx" />
    </authentication>
    <sessionState mode="InProc" timeout="480" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
